<div class="mat-nav">
    <mat-toolbar color="primary">
      <span>ResumeApp</span>
    </mat-toolbar>  

    <section>
        <div class="div-img">
            <img src="../../assets/img/cv2.jpg" >
        </div>
        <div class="content">
            <div class="form-content">
               <form>
                    <h2>Sign Up</h2>
                   <div class="input-form">
                       <input type="text" placeholder="FullName">
                   </div>
                   <div class="input-form">
                        <input type="text" placeholder="Username">
                    </div>
                    <div class="input-form">
                        <input type="email" placeholder="Email Address">
                    </div>
                    <div class="input-form">
                        <input type="number" placeholder="Phone number">
                    </div>
                    <div class="input-form">
                        <input type="number" placeholder="CID">
                    </div>
                    <div class="input-form">
                        <input type="password" placeholder="password">
                    </div>
                    <div class="input-form">
                        <input type="password" placeholder=" Confirm password">
                    </div>
                    <div class="input-form">
                        <input type="submit" value="SUBMIT">
                    </div>
               </form>
               <h3>Login with Social Media</h3>
               <button mat-button> <span class="material-icons"> facebook </span> </button>    
            </div>
        </div>
    </section>
