<div class="mat-nav">
    <mat-toolbar color="primary">
      <span>ResumeApp</span>
      <div class="spacer"></div>
      <a href="#"> <span class="material-icons"> help_outline </span> </a>
    </mat-toolbar>  
</div>

    
<section>
  <div class="content">
    <form class="form-fields"> 
      <h2>Welcome to SELISE Resume-Bank</h2>

      <div class="input-fields">
        <input type="text" placeholder="Email/Username">
      </div>
          
      <div class="input-fields">            
        <input type="password" placeholder="Password">
      </div>
      <mat-checkbox>Remember Me</mat-checkbox>
      <button mat-raised-button color="primary" class="input-fields" routerLinkActive="active" routerLink="/navbar" type="submit"> LOG IN </button>
                 
      <div class="form-footer">
        <a routerLinkActive="active" routerLink="/forgotpwd" >Forgot Password?</a> 
        <a routerLinkActive="active" routerLink="/createnew"  >Create New Account</a> 
      </div>
    </form>
  </div>
</section>

<div class="footer">
 
    <span>copright 2016-2021</span>
    <br>
    <span> @Terms and Conditions </span>
    
</div>
      

